:root {
	--danger: #ff414d;
}

::selection {
	color: red;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	padding: 5px 0;
}

ul {
	list-style: none;
}

li {
	position: relative;
	padding: 5px 0;
	border-bottom: 1px solid #bfbfbf;
	font-size: 20px;
	font-weight: 300;
}

.container {
	margin: 0 auto;
	width: 50%;
	height: 100vh;
	border-radius: 10px;
	border: 1px solid #bfbfbf;
}

.header {
	height: 130px;
	background-image: linear-gradient(to right, rgba(245,106,121,0.5), #d9ecf2),
					url("images/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	position: relative;
}

.refresh {
	color: white;
	position: absolute;
	right: 10px;
	top: 15px;
}

.tooltiptext {
  display: none;
  color: black;
  font-size: 14px;
  text-align: center;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.refresh:hover .tooltiptext {
  display: inline;
}

.date {
	color: #d9ecf2;
	font-weight: 300;
	font-size: 22px;
	position: absolute;
	bottom: 3px;
	left: 3px;
}

.bullet {
	margin-right: 5px;
	color: #1aa6b7;
}

.content {
	padding: 12px 8px;
	border-bottom: 1px solid #bfbfbf;
	height: calc(100vh - 130px - 55px);
	overflow-y: scroll;
}

.add-item {
	padding: 10px 5px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

input {
	width: 95%;
	margin-right: 10px;
	outline: 0;
	border: 1px solid #d9ecf2;
	font-size: 18px;
	padding: 5px 0 5px 8px;
	color: #1aa6b7;
	border-radius: 4px;
}

::placeholder {
	color: #f56a79;
}

.delete {
	color: var(--danger);
	position: absolute;
	right: 0;
	cursor: pointer;
}

.add {
	color: #1aa6b7;
}

.done {
	text-decoration: line-through;
	font-style: italic;
	color: #bfbfbf;
}

@media screen and (max-width: 800px) {
	.container {
		width: 70%;
	}
}

@media screen and (max-width: 600px) {
	.container {
		width: 90%;
	}
}

